input {
    max-width: 250px; 
    text-align: left;   
}
label{
    font-weight: bolder;
    font-size: 1.5em;
} 
.video-container iframe{
    position: absolute;
}
.video-container {
    position: relative;
    overflow: hidden;
}